@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
    --breakpoint-*: initial;
    --breakpoint-4K: 2160px;
    --breakpoint-2K: 2560px;
    --breakpoint-FHD: 1920px;
    --breakpoint-HD: 1280px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    --shadow-modals-black: 0 0 10px 0 rgba(0, 0, 0, 1);
    --shadow-modals-white: 0 0 10px 0 rgba(255, 255, 255, 0.8);
    --shadow-cover-black: inset 0 -80px 100px 25px rgba(0, 0, 0, 1);
    --shadow-cover-white: inset 0 -80px 100px 25px rgba(232, 232, 232, 1);

    --color-white11: #edebe9;

    /*--color-blackFon: rgba(16, 18, 20, 1);*/
    /*--color-blackActive: rgba(53, 56, 91, 1);*/
    --color-blackFon: rgba(20, 22, 28, 1);
    --color-blackSimple: rgba(36, 40, 48, 1);
    --color-blackActive: rgba(54, 58, 70, 1);

    /*--color-whiteSimple: rgb(255, 255, 255);*/
    /*--color-whiteActive: rgb(230, 230, 235);*/
    /*--color-whiteFon: rgb(220, 220, 225);*/

    --color-whiteFon: rgb(238, 238, 238);
    --color-whiteSimple: rgb(255, 255, 255);
    --color-whiteActive: rgb(230, 230, 230);

    --color-blackBack: rgba(30, 30, 36, 1);
    --color-blackBack2: rgba(38, 38, 38, 1);
    --color-google1: #202124;
    --color-google2: #303134;
    --color-google3: #4d5156;
    --color-google4: #252527;
    --color-white1: rgb(250, 250, 250);
    --color-white2: rgb(242, 242, 242);
    --color-white3: rgb(220, 220, 220);



    --spacing-4\.5: 1.125rem;   /* 18px */
    --spacing-15: 3.75rem; /* 60px */
    --spacing-16: 4rem;    /* 64px */
    --spacing-16\.5: 4.125rem;    /* 66px */
    --spacing-17: 4.25rem; /* 68px */
    --spacing-18: 4.5rem;  /* 72px */
    --spacing-22: 5.5rem;  /* 88px */
    --spacing-50: 12.5rem;  /* 200px */
    --spacing-68: 17rem;   /* 272px */
    --spacing-76: 19rem;   /* 304px */
    --spacing-80: 20rem;   /* 320px */
    --spacing-82: 20.5rem;   /* 328px */
    --spacing-84: 21rem;   /* 336px */
    --spacing-88: 22rem;   /* 352px */
    --spacing-90: 22.5rem;   /* 360px */
    --spacing-92: 23rem;   /* 368px */
    --spacing-96: 24rem;   /* 384px */
    --spacing-100: 25rem;  /* 400px */
    --spacing-104: 26rem;  /* 416px */
    --spacing-112: 28rem;  /* 448px */
    --spacing-120: 30rem;  /* 480px */
    --spacing-128: 32rem;  /* 512px */
    --spacing-136: 34rem;  /* 544px */
    --spacing-144: 36rem;  /* 576px */
    --spacing-148: 37rem;  /* 592px */
    --spacing-150: 37.5rem;  /* 600px */
    --spacing-152: 38rem;  /* 608px */
    --spacing-160: 40rem;  /* 640px */
    --spacing-168: 42rem;  /* 672px */
    --spacing-176: 44rem;  /* 704px */
    --spacing-180: 45rem;  /* 720px */
    --spacing-184: 46rem;  /* 736px */
    --spacing-192: 48rem;  /* 768px */
    --spacing-200: 50rem;  /* 800px */
    --spacing-208: 52rem;  /* 832px */
    --spacing-216: 54rem;  /* 864px */
    --spacing-224: 56rem;  /* 896px */
    --spacing-232: 58rem;  /* 928px */
    --spacing-240: 60rem;  /* 960px */
    --spacing-248: 62rem;  /* 992px */
    --spacing-256: 64rem;  /* 1024px */
    --spacing-264: 66rem;  /* 1056px */
    --spacing-272: 68rem;  /* 1088px */
    --spacing-280: 70rem;  /* 1120px */
    --spacing-288: 72rem;  /* 1152px */
    --spacing-296: 74rem;  /* 1184px */
    --spacing-304: 76rem;  /* 1216px */
    --spacing-312: 78rem;  /* 1248px */
    --spacing-320: 80rem;  /* 1280px */
    --spacing-328: 82rem;  /* 1312px */
    --spacing-336: 84rem;  /* 1344px */
    --spacing-344: 86rem;  /* 1376px */
    --spacing-352: 88rem;  /* 1408px */
    --spacing-360: 90rem;  /* 1440px */
    --spacing-368: 92rem;  /* 1472px */
    --spacing-376: 94rem;  /* 1504px */
    --spacing-384: 96rem;  /* 1536px */
    --spacing-392: 98rem;  /* 1568px */
    --spacing-400: 100rem; /* 1600px */
    --spacing-408: 102rem; /* 1632px */
    --spacing-416: 104rem; /* 1664px */
    --spacing-424: 106rem; /* 1696px */
    --spacing-432: 108rem; /* 1728px */
    --spacing-440: 110rem; /* 1760px */
    --spacing-448: 112rem; /* 1792px */
    --spacing-456: 114rem; /* 1824px */
    --spacing-464: 116rem; /* 1856px */
    --spacing-472: 118rem; /* 1888px */
    --spacing-480: 120rem; /* 1920px */
    --spacing-100\%: 100%;
    --spacing-95\%: 95%;
    --spacing-90\%: 90%;
    --spacing-85\%: 85%;
    --spacing-80\%: 80%;
    --spacing-75\%: 75%;
    --spacing-70\%: 70%;
    --spacing-65\%: 65%;
    --spacing-60\%: 60%;
    --spacing-55\%: 55%;
    --spacing-50\%: 50%;
    --spacing-45\%: 45%;
    --spacing-40\%: 40%;
    --spacing-35\%: 35%;
    --spacing-30\%: 30%;
    --spacing-25\%: 25%;
    --spacing-20\%: 20%;
    --spacing-15\%: 15%;
    --spacing-10\%: 10%;
    --spacing-5\%: 5%;
    --spacing-4K: 2160px;
    --spacing-2K: 2560px;
    --spacing-FHD: 1920px;
    --spacing-HD: 1280px;

    --animate-shine: shine 4s linear infinite;

    @keyframes shine {
        0% {
            background-position: 300% 50%;
        }
        100% {
            background-position: 0 0;
        }
    }
}

[x-cloak] {
    display: none;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ff0073;
}

/*.header-change {
    @apply bg-transparent backdrop-blur-none;
}*/

/*.header-change {
    @apply shadow-sm shadow-red-600/50 bg-white/80 text-black dark:bg-black/80 dark:text-white;
}*/

[type='text'],
input:where(:not([type])),
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
    @apply outline-hidden;
}
